// ==============================
// Variables
// ==============================

// ========== Global ========== //
// Prefix for :root CSS variables.
$prefix: fi- !default;

// Font and Line Height
$global-font-family: 'Noto Serif SC','Noto Serif KR', serif;
$global-font-size: 16px !default;
$global-font-weight: 400;
$global-line-height: 1.5rem;

// Radius of the border
$global-border-radius: 5px !default;

// Color of the background
$global-background-color: #fdf6f0 !default;
$global-background-color-dark: #444242 !default;

// Color of the text
$global-font-color: #5a2a1a !default;
$global-font-color-dark: #e8ddd1 !default;

// Color of the secondary text
$global-font-secondary-color: #60320f !default;
$global-font-secondary-color-dark: #efdfd2 !default;

// Color of the link
$global-link-color: #664737 !default;
$global-link-color-dark: #fbeded !default;

// Color of the hover link
$global-link-hover-color: #2c581a !default; 
$global-link-hover-color-dark: #eeb69e !default;

// Color of the border
$global-border-color: #3e1f1f !default;
$global-border-color-dark: #e8e1dc !default;
// ========== Global ========== //

// ========== Scrollbar ========== //
// Color of the scrollbar
$scrollbar-color: #aa693878 !default;

// Color of the hover scrollbar
$scrollbar-hover-color: #6ecb7671 !default;
// ========== Scrollbar ========== //

// ========== Selection ========== //
// Color of the selected text
$selection-color: rgba(143, 229, 169, 0.25) !default;
$selection-color-dark: rgba(246, 208, 193, 0.4) !default;
// ========== Selection ========== //

// ========== Header ========== //
// Height of the header
$header-height: 3.5rem !default;

// Color of the header background
$header-background-color: #f2e3d7 !default;
$header-background-color-dark: #3a3534 !default;

// Font style of the header title
$header-title-font-family: $global-font-family !default;
$header-title-font-size: 1.5rem !default;

// Color of the active menu item
$menu-active-color: #ffffff !default;
$menu-active-color-dark: #ffffff !default;

// Color of the search background
$search-background-color: #f6efe4 !default;
$search-background-color-dark: #363636 !default;
// ========== Header ========== //

// ========== Single Content ========== //
// Font size of the TOC
$toc-title-font-size: 1.2rem !default;
$toc-content-font-size: 1rem !default;

// Color of the single link
$single-link-color: #164c08 !default; 
$single-link-color-dark: #e1aca9 !default; 

// Color of the hover single link
$single-link-hover-color: #549c5e !default; 
$single-link-hover-color-dark: #b26a69 !default; // 羽扇豆蓝

// Color of the table background
$table-background-color: #ffffff00 !default;
$table-background-color-dark: #29342700 !default;

// Color of the table thead
$table-thead-color: #683c2a78 !default;
$table-thead-color-dark: #2b0d086b !default;

// Color of the blockquote
$blockquote-color: #744c35 !default;
$blockquote-color-dark: #aaa29b !default;
// ========== Single Content ========== //

// ========== Pagination ========== //
// Color of the link in pagination
$pagination-link-color: #773318 !default;
$pagination-link-color-dark: #b1b1ba !default;

// Color of the hover link in pagination
$pagination-link-hover-color: #263720 !default;
$pagination-link-hover-color-dark: #ed9393 !default;
// ========== Pagination ========== //

// ========== Code ========== //
// Color of the code
$code-color: #24292f !default;
$code-color-dark: #adbac7 !default;

// Color of the code background
$code-background-color: #f2ebe7 !default;
$code-background-color-dark: #313030 !default;

$code-error-color: #dc3545 !default;

// Color of the hightlight code
$code-hightlight-color: #fff8c5 !default;
$code-hightlight-color-dark: rgba(174, 124, 20, 0.15) !default;

$code-info-color: #9c9c9c !default;
$code-info-color-dark: #b1b0b0 !default;

// Font size of the code
$code-font-size: 0.875rem !default;

// Font family of the code
$code-font-family: Source Code Pro, Menlo, Consolas, Monaco, monospace, $global-font-family !default;
// ========== Code ========== //

// ========== GitHub Corners ========== //
// Color of the GitHub Corners
$github-corner-color: white !default;
$github-corner-color-dark: black !default;

// Color of the GitHub Corners background
$github-corner-fill: $header-background-color-dark !default;
$github-corner-fill-dark: $header-background-color !default;
// ========== GitHub Corners ========== //

@import '_partials/_maps/admonition';
@import '_partials/_maps/code-highlight';
@import '_partials/_maps/code-type';
@import '_partials/_maps/colors';
